@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6"> <a asp-action="Index" asp-controller="WeatherArchives"><b>Посмотреть</b></a> или <a asp-action="ArchiveLoader" asp-controller="WeatherArchives"><b>загрузить</b></a> погодные архивы Москвы</h1>
</div>
